# Auto detect text files and perform LF normalization
* text=auto
Learning Git and GitHub
Learning Git bash by enjoying
days are beautiful when u blessed with god
i love my mom and father much as i can and promise to become a good man to surve humanity
